.container__contact {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns for larger screens */
    gap: 20px; /* Space between columns */
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; /* Maximum width of the container */
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Full width of the container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%; /* Full width of the container */
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
} 


.form-container, .address-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .map-container {
    margin-top: 20px;
  }
  
  /* Responsive design for smaller screens */
  @media screen and (max-width: 768px) {
    .contact-container {
      grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }
  }

  .location_Contact_info {
  margin-top: 20px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info-item h3, .contact-info-item h4 {
  margin-left: 10px;
  color: #333;
}

.contact-info-item svg {
  font-size: 20px;
  color: #333;
}


/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .container__contact {
      grid-template-columns: 1fr; /* Stack columns on smaller screens */
      padding: 10px; /* Reduced padding for smaller screens */
      max-width: auto; /* Ensure it doesn't exceed the screen width */
    }
}

@media screen and (max-width: 480px) {
    /* Further adjustments for very small screens like mobile phones */
    h1, p {
      font-size: smaller; /* Adjust the font size as needed */
    }

    .form-group label, .contact-info-item h3, .contact-info-item h4 {
      font-size: smaller; /* Adjust font size for labels and contact info */
    }
}

/* Adjustments for larger screens if needed */
@media screen and (min-width: 1201px) {
    .container__contact {
      padding: 30px; /* More padding for larger screens */
      gap: 40px; /* More gap between columns */
    }
    /* Additional adjustments for larger displays if needed */
}