body {
    margin: 0;
    overflow-x: hidden;
}

.footer {
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% auto; /* Centering the row horizontally */
    padding: 0.6% 0%;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

.footer .row a {
    padding: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.footer .row a:hover {
    color: var(--color-bg-variant);
}

.footer .row ul {
    width: 100%;
    padding: 0; /* Reset default padding */
    list-style-type: none; /* Remove default list styling */
    text-align: center; /* Center align the list */
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer .row {
        font-size: medium; /* Adjust font size for smaller screens */
    }

    .footer .row ul li {
        margin: 0px 15px; /* Less margin for smaller screen sizes */
    }

    .footer .row a i {
        font-size: 1.5em; /* Smaller icon size */
    }
}

@media screen and (max-width: 480px) {
    .footer .row ul li {
        margin: 0px 10px; /* Even less margin for very small screens */
        display: block; /* Stack list items vertically */
        margin-bottom: 10px; /* Spacing between stacked items */
    }

    .footer .row a {
        padding: 0.5rem; /* Smaller padding */
    }

    .footer .row {
        padding: 2% 0; /* Adjust padding */
    }
}